<!DOCTYPE html>
<html lang="en">
<head>

<!-- for favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

    <!--  -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- stylesheets -->
    <link rel="stylesheet" href="css/loginSignup.css">
    <title>Chatters:SignUp</title>
</head>
<body>


    <div class="mainVideo">
        <div class="overlay"></div>

        <video src="res/videos/mainVideo.mp4" type="video/mp4" loop autoplay
            muted >
        </video>
    </div>
    <div class="form-box">
        <form class="form" method="post">
            <span class="title">Signup</span>
            <span class="subtitle">Create a free account with your email.</span>
            <div class="form-container">
                    <input name="nameS" type="text" class="input" placeholder="Name">
                    <input name="emailS" type="email" class="input" placeholder="Email">
                    <input name="passwordS" type="password" class="input" placeholder="Password">
            </div>
            <button>Signup</button>
        </form>
        <div class="form-section">
          <p>Already have an account? <a href="./login">Login</a> </p>
        </div>
        </div>
    <!-- <div class="container">
        <h2>Signup</h2>
        <form action="" method="post">
    <div class="name">

        <label for="nameS">Name:</label><input type="text" name="nameS" id="nameS">
    </div>
    <div class="email">

        <label for="emailS">E-Mail:</label><input type="email" name="emailS" id="emailS">
    </div>
    <div class="password">

        <label for="passwordS">Password:</label><input type="password" name="passwordS" id="passwordS">
    </div>
    <div class="signup ">
        
        <button type="submit">Signup</button>
    </div>
    <div class="login">
        <p>Already have an account?<a href="./login">Login</a></p> 
    </div>
        
            


        </form>

    </div> -->
</body>
</html>